/****** General ***********/
* {
  font-family: "Raleway", "arial", sans-serif;
}
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --card-bg-color: #d9d9d9;
  --body-bg-color: #ffffff;
}
.fa-solid {
  color: var(--main-color);
}
body {
  display: flex;
  justify-content: center;
  margin: 0;
}
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}
/*nav*/
nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
#logo {
  display: flex;
  align-items: center;
}
#logo img {
  max-height: 20px;
  height: auto;
}
#menu_principal {
  display: flex;
  gap: 70px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu_principal a {
  display: block;
  padding: 20px 0;
}
#menu_principal a:hover {
  color: var(--main-color);
  cursor: pointer;
  border-top: 3px solid var(--main-color);
}
/*********/
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 22px;
  margin-bottom: 5px;
}
.sub-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 40px;
}
/* bouton rechercher*/
#rechercher {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
#rechercher input {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  padding: 14px 0 14px 10px;
  border: 1px solid var(--main-bg-color);
  border-left: 0;
  border-right: 0;
  outline: none;
}
#rechercher input:focus {
  box-shadow: inset 0 0 0 2px var(--card-bg-color); /* contour interne de l'input*/
}
.fa-location-dot {
  background: var(--filter-bg-color);
  padding: 15px;
  font-size: 16px;
  color: black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.bouton {
  padding: 15px 20px 15px 20px;
  font-size: 14px;
  background: var(--main-color);
  color: var(--body-bg-color);
  font-weight: bold;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
.fa-magnifying-glass {
  display: none;
}
.section-title {
  margin: 0;
  font-size: 22px;
}
/*Filtres*/
.filtres {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 15px;
}
.filtres a {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 0 14px 0 20px;
  border: 2px solid var(--card-bg-color);
  border-radius: 25px;
  margin: 14px 14px 14px 0;
}
.filtres i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  height: 40px;
  margin-right: 12px;
}
.filtres a:hover {
  background-color: var(--filter-bg-color);
  box-shadow: 0 2px 12px 0 rgba(0, 101, 252, 0.05);
}
/*Info*/
.info i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--card-bg-color);
  border-radius: 50%;
  font-size: 10px;
  color: var(--main-color);
  width: 20px;
  height: 20px;
}
.info p {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0 0 14px 0;
  gap: 10px;
}
.card,
.hebergements-and-populaires section,
.hebergements-cards .card,
.activites-card .card {
  border-radius: 20px;
}
.card {
  background-color: var(--body-bg-color);
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
  object-fit: cover;
}
.card-title {
  font-size: 16px;
}
.euro {
  font-weight: 700;
}
.neutral-star {
  color: var(--main-bg-color);
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 40px;
}
/****** Hebergements ***********/
#hebergements {
  width: 65%;
}
.hebergements-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.hebergements-cards .card-title,
.hebergements-cards .card p,
.hebergements-cards .card-rating {
  padding-left: 10px;
}
.hebergements-cards .card-title,
.hebergements-cards .card p {
  margin: 8px 0;
}
.hebergements-cards .card-rating,
.populaires-cards .card-rating {
  margin-bottom: 5px;
}
.hebergements-cards img {
  width: 100%;
  height: 115px; /* même hauteur pour toutes */
  object-fit: cover; /* recadrage propre */
  display: block;
}
.hebergements-cards img,
.activites-card .card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.more {
  display: inline-block;
  margin-top: 30px;
  font-weight: 700;
  font-size: 18px;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}
.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}
.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
  margin: 0;
}
/*Activités*/
#activites .section-title {
  padding-bottom: 30px;
}
.activites-card {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: nowrap; /* les cartes restent sur une seule ligne */
}
.activites-card a {
  display: block;
  width: 25%; /* 4 cartes sur une ligne */
}
.activites-card .card {
  background: var(--body-bg-color);
  overflow: hidden;
  padding: 0 0 5px 0;
}
.activites-card .card img {
  width: 100%;
  height: 400px; /* même hauteur pour toutes les images */
  object-fit: cover;
  display: block;
}
.activites-card .card-title {
  padding: 5px 14px;
}
.hebergements-and-populaires #activites {
  background-color: var(--body-bg-color);
}
/*Footer*/
footer {
  display: flex;
  background-color: var(--main-bg-color);
  width: 100%;
  padding: 10px 0 10px 0;
  margin-top: 0;
}
footer.footer-container div {
  flex: 1 1 0; /*flex-grow flex-shrink flex-basis */
}
footer h3 {
  font-size: 18px;
  font-weight: 700;
  padding-left: 15px;
}
footer ul {
  padding-left: 15px;
}
footer a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 4px;
  line-height: 30px;
}
footer a:hover {
  color: #0065fc;
}
footer li {
  list-style: none;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filtres {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .filtres span {
    flex: 0 0 100%; /* force le retour à la ligne après */
    font-weight: 700;
  }
  .filtres a {
    display: inline-flex;
    margin: 0;
    font-size: 14px;
  }
  .hebergements-and-populaires {
    flex-direction: column;
  }
  #hebergements {
    width: 100%;
  }

  .hebergements-cards a {
    display: block;
    height: 100%;
  }
  .hebergements-cards .card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .hebergements-cards img {
    height: 130px;
    object-fit: cover;
    display: block;
  }
  .populaires {
    width: 100%;
    margin-top: 0;
  }
  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .populaires-cards a {
    width: 30%;
  }
  .populaires-cards .card-title {
    font-size: 14px;
  }
  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .activites-card {
    display: flex;
    gap: 24px;
    align-items: stretch;
  }
  .activites-card .card {
    height: 100%;
  }
  .activites-card .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
  #logo {
    justify-content: center;
    padding: 20px 0 10px;
  }
  h1 p {
    text-align: center;
  }
  nav {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    gap: 10px;
    width: 100%;
  }
  /* Ligne grise sur toute la largeur */
  #menu_principal {
    width: 100%;
    border-bottom: 3px solid var(--main-bg-color);
    gap: 30px;
  }

  #menu_principal li {
    flex: 1; /* Les deux liens prennent chacun 50 % de la largeur */
    text-align: center;
  }
  #menu_principal a:hover {
    border-bottom: 3px solid var(--main-color);
    border-top: none; /* empêche la ligne du dessus */
  }
  /* On cache le texte du bouton */
  .bouton span {
    display: none;
  }
  /* On affiche l’icône */
  .bouton i {
    display: inline-block;
    font-size: 18px;
    color: white;
  }
  .bouton {
    border-radius: 15px;
    margin-left: -10px;
  }
  .filtres {
    flex-wrap: wrap;
  }
  .filtres a {
    flex: 0 0 auto;
    min-width: 120px;
  }
  .hebergements-and-populaires {
    flex-direction: column;
    gap: 20px;
  }
  .populaires {
    order: 1;
  }
  #hebergements {
    order: 2;
  }
  #activites {
    order: 3;
  }
  .hebergements-and-populaires section {
    padding: 20px;
    border-radius: 0; /* bords droits sur mobile */
    margin: 0;
  }
  .populaires {
    background-color: var(--main-bg-color);
  }
  #hebergements {
    background-color: var(--body-bg-color);
  }

  #hebergements,
  .populaires {
    width: 100%;
    margin: 0;
  }
  .hebergements-cards {
    grid-template-columns: 1fr;
    gap: 25px;
    margin-top: 20px;
  }
  .hebergements-cards img {
    height: 140px;
  }
  .more {
    margin-top: 20px;
    font-size: 16px;
  }

  .populaires-title {
    margin-bottom: 10px;
  }
  .populaires-cards {
    flex-direction: column;
  }
  .populaires-cards a {
    width: 100%;
  }
  .populaires-cards .card {
    margin-top: 15px;
  }
  .populaires-cards img {
    width: 33%;
    height: 120px;
  }
  .populaires-cards .card-title {
    font-size: 16px;
  }
  .populaires-cards .card-subtitle {
    font-size: 14px;
  }
  #activites .section-title {
    padding-bottom: 15px;
  }
  .activites-card {
    flex-direction: column;
    gap: 15px;
  }
  .activites-card a {
    width: 100%;
  }
  .activites-card .card img {
    height: 160px;
  }
  footer.footer-container {
    flex-direction: column;
    gap: 16px;
  }
}
