/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filtres {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .filtres span {
    flex: 0 0 100%; /* force le retour à la ligne après */
    font-weight: 700;
  }
  .filtres a {
    display: inline-flex;
    margin: 0;
    font-size: 14px;
  }
  .hebergements-and-populaires {
    flex-direction: column;
  }
  #hebergements {
    width: 100%;
  }

  .hebergements-cards a {
    display: block;
    height: 100%;
  }
  .hebergements-cards .card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .hebergements-cards img {
    height: 130px;
    object-fit: cover;
    display: block;
  }
  .populaires {
    width: 100%;
    margin-top: 0;
  }
  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .populaires-cards a {
    width: 30%;
  }
  .populaires-cards .card-title {
    font-size: 14px;
  }
  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .activites-card {
    display: flex;
    gap: 24px;
    align-items: stretch;
  }
  .activites-card .card {
    height: 100%;
  }
  .activites-card .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
